<template name="passwordResetEmail">
    <p>Hi there, {{user}}
        <br />
        <br />
        <br />
        You have requested a password reset.
        <br />
        Please click the link below to verify reset your password. <br />
        <a href='{{url}}'>Reset your password</a>
        <br />
        <br />
        <br />
        Thanks,
        <br />
        The Eventr team.
    </p>
</template>