 <template name="friends">
    {{#if currentUser}}
        <div class="block">
            <h1><span class="username">{{getLoggedInUsername}}</span>'s friends</h1>
        </div>
        <label for="addFriendSearch">Search and add friends</label>
        <div class="input-group">
            <input id="addFriendSearch" type="text" placeholder="Add a new friend">
            <button class="hidden btn addFriendButton">Add friend</button>
        </div>
        <div class="friendSelection">

        </div>
        {{#if hasFriends}}
        <table class="block-big-wrapper friends">
            <thead>
                <tr>
                    <th class="block-big-header" colspan="2"><h1>Your friends</h1></th>
                </tr>
            </thead>
            {{#each getAllFriends}}
                    <tbody class="friend-list">
                        {{> friend}}
                    </tbody>
            {{/each}}
        </table>
        {{/if}}

        {{methods}}
    {{/if}}
</template>
