<template name="newEvent">
    {{#if currentUser}}
    <form id="newEventForm">
        <label for="eventName">Name of the event: </label><input id="eventName" type="text" placeholder="ex: my birthday">
        <br>
        <label for="eventStartDate">When does it start? </label>
        <input id="eventStartDate" class="date start" type="date">
        <br>
        <label for="eventEndDate">And when does it end? </label>
        <input id="eventEndDate" class="date end" type="time">
        {{loadDateInputs}}
    </form>
    <br>
    <a id="newEvent" href="#">I'd like to create a new event</a>
    {{/if}}
</template>
