<template name="header">
    <div class="container" id="sb-site">
        <header>
            <div class="header-section header-left">
                {{#if currentUser}}
                <a href="#menu" class="sb-toggle-left"><i class="fa fa-bars menu-button"></i></a>
                {{/if}}
                <a href="/"><i class="fa fa-home"></i></a>
            </div>
            <div class="header-section header-middle">
                <h1>Eventr</h1>
            </div>
            <div class="header-section header-right">
                {{#if currentUser}}
                <a href="/newEvent"><i class="fa fa-plus add-button"></i></a>
                {{/if}}
            </div>
        </header>
        {{> yield}}
        {{> flashMessages}}
    </div>
    {{#if currentUser}}
        {{> sidebarLeft}}
    {{/if}}
</template>
